<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> <!--back button functionality-->
    </ion-buttons>
    <ion-title>Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-radio-group [(ngModel)]="status"> <!--ion-radio-group for radio group button functionality-->
    <ion-item>
      <ion-label>Happy</ion-label>
      <ion-radio slot="end" value="Happy"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Sad</ion-label>
      <ion-radio slot="end" value="Sad"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Energetic</ion-label>
      <ion-radio slot="end" value="Energetic"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Lazy</ion-label>
      <ion-radio slot="end" value="Lazy"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Cooked</ion-label>
      <ion-radio slot="end" value="Cooked"></ion-radio>
    </ion-item>
  </ion-radio-group>
  </ion-list>
  <ion-button (click)="onButtonClick()">Save</ion-button> <!--trapping button save event-->
  
</ion-content>
